[submodule "src/MDD4All.SpecIF.DataModels"]
	path = src/MDD4All.SpecIF.DataModels
	url = https://github.com/oalt/MDD4All.SpecIF.DataModels.git
[submodule "src/MDD4All.Configuration"]
	path = src/MDD4All.Configuration
	url = https://github.com/oalt/MDD4All.Configuration.git
[submodule "src/MDD4All.Jira.DataModels"]
	path = src/MDD4All.Jira.DataModels
	url = https://github.com/oalt/MDD4All.Jira.DataModels.git
[submodule "src/SvgGeneration"]
	path = src/SvgGeneration
	url = https://github.com/oalt/fmc4seSvgGenerator.git
[submodule "src/MDD4All.SpecIF.DataFactory"]
	path = src/MDD4All.SpecIF.DataFactory
	url = https://github.com/oalt/MDD4All.SpecIF.DataFactory.git
[submodule "src/MDD4All.SpecIF.DataProvider.Contracts"]
	path = src/MDD4All.SpecIF.DataProvider.Contracts
	url = https://github.com/oalt/MDD4All.SpecIF.DataProvider.Contracts.git
[submodule "src/MDD4All.SpecIF.DataModels.RightsManagement"]
	path = src/MDD4All.SpecIF.DataModels.RightsManagement
	url = https://github.com/oalt/MDD4All.SpecIF.DataModels.RightsManagement.git
[submodule "src/MDD4All.SpecIF.DataModels.DiagramInterchange"]
	path = src/MDD4All.SpecIF.DataModels.DiagramInterchange
	url = https://github.com/oalt/MDD4All.SpecIF.DataModels.DiagramInterchange.git
