<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="DnsClient" version="1.3.1" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.1" targetFramework="net461" />
  <package id="MDD4All.EAFacade.DataAccess.Cached" version="2.2.0.214" targetFramework="net461" />
  <package id="MDD4All.EAFacade.DataModels.Contracts" version="2.1.0.183" targetFramework="net461" />
  <package id="MDD4All.EnterpriseArchitect.DataModels" version="2.0.0.140" targetFramework="net461" />
  <package id="MDD4All.EnterpriseArchitect.DataModels.Contracts" version="2.0.0.139" targetFramework="net461" />
  <package id="MDD4All.EnterpriseArchitect.Logging" version="2.0.0.2" targetFramework="net461" />
  <package id="MDD4All.EnterpriseArchitect.Manipulations" version="3.0.0.185" targetFramework="net461" />
  <package id="MDD4All.MongoDB.DataAccess.Generic" version="2.0.0.3" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.705.50" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.11.4" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.11.4" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.11.4" targetFramework="net461" />
  <package id="MongoDB.Libmongocrypt" version="1.0.0" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="ReverseMarkdown" version="3.11.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>